<form>
    <div class="form-group">
        <label>Product name:</label>
        <input id="productName" type="text" class="form-control" placeholder="Enter product name" ng-model="product.name" required>
    </div>
    <div class="form-group">
        <label>Product description</label>
        <textarea id="productDescription" class="form-control" rows="3" placeholder="Enter product description" ng-model="product.information" required></textarea>
    </div>
    <div class="form-group">
        <label>Product price</label>
        <input id="productPrice" type="number" class="form-control" step="any" placeholder="Enter product price" ng-model="product.price" required>
    </div>
    <div class="form-group">
        <label>Product image URL</label>
        <input id="productImage" type="url" class="form-control" placeholder="Enter product image" ng-model="product.image" required>
    </div>
    <button id="btnSubmitProduct" type="submit" ng-click="addProduct(product)" class="btn btn-success">Submit</button>
</form>