<form>
    <div class="form-group">
        <label>Customer name:</label>
        <input type="text" class="form-control" placeholder="Enter customer name" ng-model="customer.name">
    </div>
    <div class="form-group">
        <label>Customer E-mail:</label>
        <input type="email" class="form-control" placeholder="Enter customer email" ng-model="customer.email">
    </div>
    <div class="form-group">
        <label>Customer adress</label>
        <input type="text" class="form-control" placeholder="Enter customer adress" ng-model="customer.adress">
    </div>
    <div class="form-group">
        <label>Customer city</label>
        <input type="text" class="form-control" placeholder="Enter customer city" ng-model="customer.city">
    </div>
    <button type="submit" ng-click="updateCustomer()" class="btn btn-success">Update</button>
</form>