<label>Choose customer:</label><select ng-model="customer" ng-options="c.name for c in customers" ng-change="filterOrders()">{{customer.name}}</select>
<table class="table table-condensed">
    <thead>
    <th>Date</th>
    <th>Subtotal</th>
    <th>Status</th>
    </thead>

    <tbody ng-repeat="order in orders" on-finish-render>
    <tr data-toggle="collapse" data-target="#{{order.id}}">
        <td>{{order.date}}</td>
        <td>{{order.subTotal | currency: '€'}}</td>
        <td>{{order.orderStatus}}</td>
    </tr>
    <tr>
        <td class="hiddenRow" colspan="3">
            <div id="{{order.id}}" class="collapse">
                <table>
                    <thead>
                    <tr>
                        <th style="width:80%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:10%">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in order.products">
                        <td data-th="Product">
                            <div class="col-sm-2 hidden-xs"><img ng-src="{{product.image}}" alt="..." class="img-responsive"/></div>
                            <div class="col-sm-10">
                                <h4 class="nomaring">{{product.name}}</h4>
                                <p>{{product.information}}</p>
                            </div>
                        </td>
                        <td data-th="Price">{{product.price | currency: "€"}}</td>
                        <td data-th="Quantity">
                            <p>{{product.quantity}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>

