<h1>Products</h1>
    <a href="#products/AddProduct" id="btnAddProduct" class="btn btn-primary" style="float: right">Add Product</a>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        <tr class ="productRow" ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.information}}</td>
            <td>{{product.price | currency: "€"}}</td>
            <td><button class="btn btn-success fa fa-pencil" aria-hidden="true" ng-click="editProduct($index)"></button></td>
            <td><a id="btnDelete" ng-click="deleteProduct($index)" class="btn btn-danger fa fa-trash-o"></a></td>
        </tr>
    </tbody>
</table>